<!--
<div class="entry">
  <div class="row">
	<% if (item.feature ) { %>
           <% if (config.post_asset_folder){ %>
  	      <div class="thumbnail"><a href="<%- config.root %><%= item.path %>"><img src="<%= item.path %><%= item.feature %>" alt="<%= item.title %>"  class="nofancybox"></a>
           <% } else { %>
              <div class="thumbnail"><a href="<%- config.root %><%= item.path %>"><img src="<%= item.feature %>" alt="<%= item.title %>"  class="nofancybox"></a>
           <% } %>
		</div>
	<% } %>
	<% if (item.excerpt && index) { %>
		<%- item.excerpt %>
	<% } else if (theme.auto_excerpt.enable) { %>

		<% var br_position = 0 %>
        <% for (var br_count = 0; br_count < theme.auto_excerpt.lines; br_count++) { %>
            <% br_position = item.content.indexOf('\n',br_position + 1) %>
            <% if(br_position < 0) { break } %>
		<% } %>
		<% if(br_position > 0) { %>
            <% show_all_content = false %>
            <p class="post"><%= item.content.substring(0, br_position + 1) %><p>
		<% } %>

	<% } %>

	</div>
  <a type="button" href="<%- config.root %><%- item.path %>#more" class="btn btn-default more"><%= __('read_more') %></a>
</div>

-->
<div class="entry">
  <div class="row">
	<% if (item.feature ) { %>
           <% if (config.post_asset_folder){ %>
  	      <div class="thumbnail"><a href="<%- config.root %><%= item.path %>"><img src="<%= item.path %><%= item.feature %>" alt="<%= item.title %>"  class="nofancybox"></a>
           <% } else { %>
              <div class="thumbnail"><a href="<%- config.root %><%= item.path %>"><img src="<%= item.feature %>" alt="<%= item.title %>"  class="nofancybox"></a>
           <% } %>
		</div>
	<% } %>
	<% if (item.excerpt && index) { %>
		<%- item.excerpt %>
	<% } else { %>
		<%- item.content %>
	<% } %>
	</div>
  <a type="button" href="<%- config.root %><%- item.path %>#more" class="btn btn-default more"><%= __('read_more') %></a>
</div>
